html, body, #app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.box {
  width: 150px;
  height: 60px;
  background: #f00;
  margin: 5px;
  flex-grow: 0;
}